[init]
	defaultBranch = main
[user]
	email = 89048791+ayoshi007@users.noreply.github.com
	name = ayoshi
[credential]
	helper = cache --timeout=86400
[merge]
    tool = vimdiff
[diff]
    tool = vimdiff
    
[core]
	editor = vim
    pager = cat

[log]
    date = relative

[alias]
    lg1 = log --color --abbrev-commit --decorate --pretty=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    lg2 = log --color --abbrev-commit --decorate --pretty=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    lg = lg1

